/*
 * @Description: 
 * @Version: 1.0
 * @Autor: Derek Xu
 * @Date: 2021-12-07 20:11:03
 * @LastEditors: Derek Xu
 * @LastEditTime: 2022-03-01 16:34:01
 */
.vi-calendar-manager-wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;

  &_container {
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;

    .list {
      flex: 1;
    }
  }

  &_list {
    box-sizing: border-box;
    width: 100%;
    padding: 4px 16px;

    .container {
      width: 100%;
      display: inline-block;
      background: rgb(242, 242, 242);
      border-radius: 8px;
    }

    .header {
      padding-top: 10px;
      line-height: 80px;
      height: 80px;
      border-color: honeydew;

      .color {
        height: 80px;
        display: flex;
        align-items: center;
        justify-content: center;

        .square {
          width: 40%;
          line-height: 80px;
        }

        .square:after {
          content: '';
          display: block;
          padding-bottom: 100%;
        }
      }

      .title {
        font-size: 36px;
      }
    }

    .content {
      font-size: 24px;
      color: #999;
      font-weight: 400;
      padding: 20px;

      .mark {
        height: 80px;
      }

      .ower {
        text-align: right;
      }
    }
  }
}
