page {
  height: 100%;
}

.vi-login-wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;

  .section {
    display: flex;
    flex-direction: column;
    position: relative;
    flex: 1 0 auto;

    .back-btn {
      position: absolute;
      left: 30px;
      padding-top: 0;
      top: 20px;
      color: #303133;
    }

    .right-top-sign {
      position: absolute;
      top: 40px;
      right: 40px;
    }

    .right-top-sign:before {
      -webkit-transform: rotate(50deg);
      transform: rotate(50deg);
      border-radius: 0 50px 0 0;
    }

    .right-top-sign:after {
      position: absolute;
      right: -99px;
      top: 0;
      -webkit-transform: rotate(-50deg);
      transform: rotate(-50deg);
      border-radius: 50px 0 0 0 /* background: pink; */;
    }

    .right-top-sign:before,
    .right-top-sign:after {
      display: block;
      content: '';
      width: 200px;
      height: 40px;
      background: #b4f3e2;
    }
  }

  .footer {
    position: relative;
    height: 260px;
    overflow: hidden;

    .left-bottom-sign {
      position: absolute;
      left: -240px;
      bottom: -300px;
      border: 100px solid #d0d1fd;
      border-radius: 50%;
      padding: 180px;
    }

    .register {
      position: absolute;
      bottom: 80px;
      display: flex;
      width: 100%;
      align-items: center;
      text-align: center;
      justify-content: center;
      font-size: 28px;
      height: 40px;
      line-height: 40px;
    }
  }

  &_logo {
    align-items: center;
    justify-content: center;
    text-align: center;

    .taro-img__mode-aspectfit {
      height: 400px;
    }
  }

  .wrapper {
    flex: 1;
    display: flex;
    align-items: center;
  }

  &_ui-form {
    flex: 2;
    margin: 40px 40px;

    .btn {
      margin: 20px 20px 0px 20px;
    }

    .taroify-flex {
      text-align: center;
    }

    .smsCode {
      display: flex;
    }

    .self {
      padding-left: 40px;
    }

    .taroify-checkbox {
      font-size: 24px;
      height: 40px;
      line-height: 40px;
    }
  }

  .weapp-login {
    .wechat-checkbox {
      display: flex;
      margin-top: 30px;
      margin-bottom: 30px;
      align-items: center;

      navigator {
        font-size: 28px;
        color: blue;
      }
    }
  }

  .h5-login-type {
    font-size: 24px;
    color: #000;
    padding-top: 20px;
    font-weight: 600;
  }
}
