.vi-bind-username-warpper {
  display: flex;
  flex-direction: column;
  height: 100%;

  &_content {
    height: 100%;

    form {
      display: flex;
      flex-direction: column;
      height: 100%;
    }

    .form {
      flex: 1;
    }

    .button {
      margin: 20px;
      padding-bottom: 10px;
    }
  }
}
