.vi-component-members-warpper {
  display: flex;
  flex-direction: column;
  height: 100%;

  .all-check {
    .taroify-cell__value {
      padding-left: 10px;
    }
  }

  &_self {
    .taroify-cell__value {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
    }

    .label {
      display: flex;
      flex-direction: row;
      align-items: center;

      .item {
        padding-left: 20px;
      }
    }
  }

  &_list {
    flex: 1;

    .taroify-cell__value {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
    }

    .label {
      display: flex;
      flex-direction: row;
      align-items: center;

      .item {
        padding-left: 20px;
      }
    }
  }

  &_button {
    margin: 20px;
    padding-bottom: 10px;
  }
}
