.vi-group-manager-wrapper {
  display: flex;
  flex-direction: column;
  background: #f7f8fa;

  .group-header {
    display: flex;
    flex-direction: row;
    padding: 20px;
    box-sizing: border-box;
    justify-content: center;

    .box {
      -moz-border-radius: 20px;
      -webkit-border-radius: 20px;
      border-radius: 20px;
      box-shadow: 0 5px 10px #0002;
      display: flex;
      justify-content: center;

      .taroify-cell__value {
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }

  &_container {
    .list {
      margin-top: 10px;
      margin: 20px;

      .taroify-cell {
        display: flex;
        align-items: center;
        box-shadow: 0 5px 10px #0002;
        border-radius: 10px;
        margin-top: 10px;
        height: 180px;
      }

      .taroify-cell__value {
        display: flex;
      }

      .cell {
        padding-left: 20px;

        .title {
          font-size: 28px;
          font-weight: 600;
        }

        .number {
          font-size: 24px;
        }
      }
    }
  }

  &_button {
    margin: 30px;
  }
}
