.vi-aboutme-wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;

  /** 头信息 */
  &_head {
    overflow: hidden;
    display: flex;
    flex-direction: row;
    background: no-repeat url('http://www.youlai.tech:81/static/user-bg.jpg');
    background-size: 100% 100%;
    align-items: center;
    height: 300px;
    padding-left: 30px;

    .top-info {
      font-size: 26px;
      padding-left: 30px;

      .top-info_need {
        font-size: 30px;
        font-weight: 600;
      }
    }

    .top-refresh {
      display: flex;
      height: 60px;
      flex-direction: row;
      align-items: center;
      margin: 20px 0px 0px 20px;

      .top-user {
        font-size: 32px;
        margin-right: 20px;
      }

      .button {
        width: 30px;
        height: 54px;
        display: flex;
        box-sizing: border-box;

        .taroify-button {
          height: 100%;
          width: 100%;
        }
      }

      .taroify-loading {
        color: red;
      }
    }
  }

  /** 设置操作 */
  &_setting {
    margin-top: 10px;

    .taroify-cell {
      background-color: var(--cell-background-color, var(--white, #fff));
    }
  }
}
