/*
 * @Description: 
 * @Version: 1.0
 * @Autor: Derek Xu
 * @Date: 2022-02-07 21:27:10
 * @LastEditors: Derek Xu
 * @LastEditTime: 2022-04-26 13:11:06
 */

.vi-message-detail-warpper {
  height: 100%;
  display: flex;
  flex-direction: column;

  &_container {
    flex: 1;
  }

  &_button{
    margin: 20px;
    padding-bottom: 10px;
  }
}
