page {
  height: 100%;
}

.vi-search-wrapper {
  height: 100%;

  .taroify-search {
    width: 100%;
  }

  &_list {
    .component-body {
      display: flex;
      flex-direction: row;
      font-size: 28px;
      color: grey;
      font-weight: 400;

      .event-label {
        margin-right: 30px;
        margin-top: 30px;
        margin-left: 30px;
        text-align: center;
        width: 30px;
        height: 30px;
        border-radius: 50%;
      }

      .event-content {
        margin-top: 10px;
        .title {
          font-size: 36px;
          color: #000;
          height: 60px;
          line-height: 60px;
        }
      }
    }
  }
}
