.vi-calendar-wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;

  &_container {
    overflow-y: auto;
    flex: 1;
  }

  &_button {
    margin: 20px;
    padding-bottom: 10px;

    .taroify-button--primary {
      margin-top: 10px;
    }
  }

  .taroify-radio-group {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
  }

  .taroify-grid-item__content {
    padding: 10px;
  }
}
