page {
  height: 100%;
}
.vi-selfprivacy-warpper {
  height: 100%;
  padding: 100px 30px 30px 30px;
  overflow-y: auto;
  font-size: 30px;

  ul {
    padding-left: 30px;
    list-style-type: none;
  }

  &_header {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 32px;
    font-weight: 600;
    height: 80px;
    line-height: 80px;
  }

  &_push-time {
    display: flex;
    flex-direction: column;
    padding-top: 10px;
    padding-bottom: 20px;
  }

  .preface {
    p {
      text-indent: 60px;
    }
  }

  .catalogue {
    .item {
      ul {
        padding-left: 0px;
        padding-top: 10px;
      }

      ul li ol {
        padding-left: 50px;
      }

      .title {
        padding-top: 10px;
        font-size: 30px;
        font-weight: 600;
      }

      .article {
        text-indent: 60px;
      }
    }
  }
}
