/*
 * @Description: 
 * @Version: 1.0
 * @Autor: Derek Xu
 * @Date: 2022-02-07 21:27:10
 * @LastEditors: Derek Xu
 * @LastEditTime: 2022-05-05 14:04:05
 */

.vi-group-create-warpper {
  height: 100%;
  overflow: hidden;

  &_container {
    height: 100%;
  }

  form {
    height: 100%;
    display: block;
  }

  .main {
    height: 100%;
    display: flex;
    flex-direction: column;
  }

  .form {
    flex: 1;
  }

  .button {
    margin: 30px;
  }
}
