/*
 * @Description: 
 * @Version: 1.0
 * @Autor: Derek Xu
 * @Date: 2022-02-07 21:27:10
 * @LastEditors: Derek Xu
 * @LastEditTime: 2022-07-07 11:34:09
 */

.vi-group-search-warpper {
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;

  .list {
    flex: 1;
    overflow-y: auto;
    padding-bottom: 30px;
  }

  .cell {
    display: flex;
    flex-direction: row;
    align-items: center;

    .taroify-avatar {
      width: 60px;
    }

    .label {
      font-size: 24px;
      padding-left: 20px;
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
  }
}
