.vi-group-member-manager-warpper {
  display: flex;
  flex-direction: column;
  height: 100%;
  background: #f7f8fa;

  .taroify-form-control {
    width: 100%;
  }

  .list {
    padding: 20px;

    .taroify-cell__value {
      display: flex;
      flex-direction: row;
    }
  }

  .taroify-image {
    height: 100%;
  }

  .avatar {
    width: 100px;
  }

  .item {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
}
