/*
 * @Description: 
 * @Version: 1.0
 * @Autor: Derek Xu
 * @Date: 2022-02-07 21:27:10
 * @LastEditors: Derek Xu
 * @LastEditTime: 2022-07-14 13:39:26
 */

.vi-group-manager-warpper {
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;

  &_header {
    width: 100%;
  }

  &_list {
    flex: 1;
    overflow-y: auto;

    .cell {
      .taroify-cell__value {
        display: flex;
      }
      .item {
        padding-left: 20px;
        display: flex;
        flex-direction: column;

        .group {
          font-size: 24px;
        }
      }
    }
  }

  .taroify-empty {
    height: 100%;
  }

  .br {
    width: 100%;
    height: 10px;
    background-color: whitesmoke;
  }

  .group-header {
    height: 130px;
    margin: 20px 10px;
    box-sizing: border-box;

    .taroify-flex-item {
      height: 100%;
    }

    .box {
      background-color: #fff;
      height: 100%;
      box-shadow: 0 5px 10px #0002;
      border-radius: 10px;
      display: flex;
      align-items: center;
      justify-content: center;

      .title {
        display: flex;
        flex-direction: column;
        padding-left: 10px;
      }

      .label {
        font-size: 30px;
        color: black;
        font-weight: 600;
      }

      .desc {
        font-size: 16px;
        color: darkgray;
      }
    }
  }
}
