/*
 * @Description: 
 * @Version: 1.0
 * @Autor: Derek Xu
 * @Date: 2022-02-07 21:27:10
 * @LastEditors: Derek Xu
 * @LastEditTime: 2022-02-28 18:09:33
 */

.vi-group-manager-warpper {
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;

  &_header {
    position: fixed;
    height: 100px;
    width: 100%;
  }

  &_list {
    overflow-y: auto;
    //flex: 1;
    height: 100%;
    border: 1px solid red;
  }
}
