.vi-member-forget-password {
  display: flex;
  flex-direction: column;
  height: 100%;

  .container {
    flex: 1;

    .swtch {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      font-size: 24px;
      font-weight: 600;
      text-align: right;
      padding: 10px 60px;
      color: gray;
    }
  }

  .button {
    margin: 20px;
    padding-bottom: 10px;
  }
}
