.vi-user-wrapper {
  flex-direction: column;
  display: flex;
  height: 100%;

  &_menu {
    flex: 1;

    .taroify-avatar {
      display: inline-block;
    }
  }

  &_button {
    margin: 30px;
    padding-bottom: 20px;
  }

  // &_ui-name {
  //   display: flex;
  //   flex-direction: column;
  //   justify-content: space-between;
  //   height: 100%;

  //   .form {
  //     margin-top: 20px;
  //     flex: 1;
  //   }

  //   .button {
  //     margin: 20px;
  //   }
  // }
}

.vi-user-wrapper_ui-name {
  display: flex;
  height: 80%;
  box-sizing: border-box;
  flex-direction: column;
  justify-content: center;
  margin: 30px;

  .field {
    flex: 1;
    align-items: center;
  }
}

.vi-user-wrapper_upload {
  display: flex;
  height: 80%;
  box-sizing: border-box;
  flex-direction: column;
  justify-content: center;
  margin: 30px;

  .upload {
    flex: 1;
    align-items: center;
  }
  .taroify-uploader {
    display: flex;
    justify-content: center;
  }

  .button {
    width: 100%;
  }
}
