.vi-user-wrapper {
  flex-direction: column;
  display: flex;
  height: 100%;

  &_menu {
    flex: 1;

    .taroify-avatar {
      display: inline-block;
    }
  }

  &_button {
    margin: 30px;
    padding-bottom: 20px;
  }

  &_ui-name {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;

    .form {
      margin-top: 20px;
      flex: 1;
    }

    .button {
      margin: 20px;
    }
  }
}

.vi-user-wrapper_upload {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  height: 100%;
  align-items: center;
  justify-content: center;
  padding: 10px 20px;

  .button {
    width: 100%;
    margin-top: 10px;
  }
}
