.vi-user-wrapper {
  flex-direction: column;
  display: flex;
  height: 100%;

  &_menu {
    flex: 1;

    .avatar {
      display: inline-block;
      padding-right: 30px;
    }
  }

  &_button {
    margin: 30px;
    padding-bottom: 20px;
  }

  &_ui-name {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;

    .form {
      margin-top: 20px;
      flex: 1;
    }

    .button {
      margin: 20px;
    }
  }
}

.taroify-navbar {
  margin-bottom: 10px;
  border-bottom: 10px solid #f2f2f2;
}
